@import url(//fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Gelasio|Kulim+Park|Nanum+Myeongjo|Nanum+Gothic|Noto+Sans|Noto+Sans+KR|Roboto&display=swap');
/* @import url(syntax/monokai.css); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

@font-face {
	font-family: "Computer Modern";
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  }
  
  @font-face {
	font-family: "Computer Modern";
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
	font-weight: bold;
  }
  
  @font-face {
	font-family: "Computer Modern";
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
	font-style: italic, oblique;
  }
  
  @font-face {
	font-family: "Computer Modern";
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
	font-weight: bold;
	font-style: italic, oblique;
  }

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "-apple-system", "Pretendard-Regular", "Noto Sans", "Noto Sans KR", "Roboto", "Nanum Gothic";
  --font-family-serif: "Nanum Myeongjo";
  
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "-apple-system", "Pretendard-Regular", "Noto Sans";
	/* color: #2c3e50; */
	color: #000000
}

a {
	text-decoration: none;
	color: #007bff;
	background-color: transparent;
}

a:hover {
	text-decoration: underline;
}

pre {
	display:w block;
	overflow: auto;
	margin-bottom: 15px;
	padding-bottom: 10px;
	padding: 5px;
	line-height: 1.2;
}

code {
	font-family: "Noto Sans Mono", "Consolas", monospace;
	/* font-size: 90%; */
	font-size: 0.9em;
	/* font-size: 50%; */
	margin: 3px;
	background-color: #f0f0f0;
	border-radius: 3px;
	padding: .3em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.highlight{
	display: flex;
	margin: 0.1em;
	border-radius: 10px;
}

.container {
	min-height: 100%;
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}

.content {
	/*margin-left: 180px;*/
	flex: 1 1 auto;
	padding: 0px 30px;
	width: 1px;
}

.sidebar {
	/*position: fixed;*/
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 220px;
	padding: 15px;
	z-index: 1;
	background-color: #222;
	color: #fff;
}

.sidebar-item {
	display: block;
}

.sidebar ul {
	list-style-type: none;
	padding-inline-start: 0px;
}

.sidebar-brand > a {
	font-size: 200%;
	font-family: "-apple-system", "Pretendard-Regular", "Noto Sans";
	color: #EEE;
}

.lead {
	font-size: 120%;
	color: #aaa;
}

.sidebar-header {
	margin-bottom: 50px;
}

.sidebar-nav {
	margin-top: 20px;
}

.nav-title {
	font-size: 100%;
	font-family: "Noto Sans";
	text-transform: uppercase;
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
}

a.nav-item {
	font-size: 120%;
	font-family: "Noto Sans";
	text-transform: capitalize;
	color: #aaa;
}

a.nav-item:hover { color: #777; }

.badge { font-size: 70%; }
.badge::before { content: "("; }
.badge::after { content: ")"; }

.post-list > li {
}

.post-link {
	margin-left: 5px;
	font-size: 110%;
	color: #333;
	/* display: inline-block; */
	/* width: 80px; */	
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter, article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #e74c3c;
}
#contact-list-secondary {
	padding-bottom: 10px;
}

article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

.page-header {
	color: #e74c3c;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

article {
	padding: 0 3% 0;
	font-size: 16px;
	margin-bottom: 100px;
	line-height: 1.8;
	/* max-width: calc(100vw - 200px - 5%); */
	/* margin: 5vw; */
	margin: 0 auto;    /* 좌우 여백을 자동으로 조정하여 가운데 정렬 */
	padding: 1rem;     /* 안쪽 여백 추가 */
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

blockquote {
	color: #828282;
  	border-left: 4px solid #ccc;
  	padding-left: 10px;
  	margin: 0;
  	margin-bottom: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	font-family: "-apple-system", "Pretendard-Regular", "Roboto", "Nanum Gothic";
	color: #333;
  	margin-bottom: 0;
}

article h2 {
	font-size: larger
}

article h3 {
	font-size: large
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: #f2756a;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: #e74c3c;
}

header.post-header {
	padding: 50px 0px 10px 0px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

header.home {
	text-align: left;
}

.post-title {
	font-size: 2em;
	color: #111;
	/* font-weight: bold; */
}

.cv-title {
	font-size: 2.0em;
	color: #111;
	/* font-weight: bold; */
	text-align: center;
}

.cv-contact {
	font-size: 1.0em;
	color: gray;
	text-align: center;
}

/* .cv-content {
	flex: 1 1 auto;
	padding: 0px 30px;
	width: 1px;
} */

.post-date {
	text-transform: uppercase;
	color: #555;
	letter-spacing: 1px;
	font-size: 0.8em;
	/* display: inline-block; */
	/* width: 80px; */
}

.tags{
	font-size:90%;
	color: #888888;
	padding-right: 0.5em;
	/* text-transform: lowercase; */
}


.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

.sidebar-footer {
	margin-top: 80px;
	font-size: 0.75em;
	font-weight: lighter;
	font-family: "Roboto";
	line-height: 1.5;
}

.sidebar-footer a {
	color: #ccc;
}

/* 모바일 */
@media (max-width: 576px) {
/* @media { */
	article {
		/* font-size: 0.9em; */
		line-height: 1.5;
		width: calc(100dvw - 5%);
		word-wrap: break-word;
	}

	code {
		/* font-size: 90%; */
		font-size: 14px;
	}

	header.post-header {
		padding: 10px 5px 10px 5px;
		margin-bottom: 10px;
	}

	.post-list {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.post-list-item {
		padding: 0.2em;
	}

	.content {
		padding: 0px;
	}
	.container {
	    flex-direction: column;
	}

	.sidebar {
		font-size: 0.8em;
		flex: 0 0 auto;
		flex-flow: row nowrap;
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.sidebar-nav-container {
		display: flex;
		flex-direction: row;
	}
	.sidebar-nav {
		margin: 10px;
		display: flex;
		flex-direction: row;
	}

	.sidebar-item {
		flex: 1 1 auto;
		/* min-width: 20vw; */
		white-space: nowrap;
		display: inline-block;
		width: auto;
	}

	/* nav는 세로로 배치되고, flexbox를 사용하여 자식 요소들이 세로로 정렬되도록 함 */
	.nav {
		display: flex;
		flex-direction: column; /* 세로 정렬 */
		padding-left: 0;
	}
	
	/* nav-title은 한 줄로 표시되도록 설정 */
	.nav-title {
		display: block; /* 기본적으로 한 줄로 나옴 */
		font-weight: bold; /* 강조를 위해 글씨를 굵게 */
	}
	
	/* nav-item의 li 요소는 기본적으로 블록 요소로 설정해서 줄바꿈 */
	.nav-item li {
		display: block; /* li는 블록 요소로 처리하여 한 줄에 하나씩 표시 */
		margin-bottom: 5px; /* 항목들 사이에 간격 추가 */
	}
	
	.nav-item-block {
		display: flex;
		flex-wrap: wrap;
	}
	/* nav-item 안의 a 태그는 가로로 배치되며, 너무 길면 줄바꿈되도록 설정 */
	.nav-item a {
		/* display: inline-block; a 태그가 가로로 배치되게 함
		margin-right: 10px; 간격 추가 */
		word-wrap: break-word; /* 긴 텍스트가 있으면 줄바꿈하도록 함 */
		max-width: 100%; /* 너비를 부모에 맞추어 제한 */
	}

	.sidebar-header {
		margin-bottom: 0px;
	}

	.sidebar-footer {
		flex: 0 0 0px;
		visibility: hidden;
		display: none;
	}
	.highlight {
		max-width: 100%;
	}
}


img + em {
	display: block;
	text-align: center;
  }


/* 표 관련 */
table {
    border: 1px solid #dadce0;
    border-collapse: collapse;
}

table thead tr {
    background: rgba(0, 0, 0, 0.05);
    /* font-size: 16px; */
    color: #000;
}

table tr th,
table tr td {
    padding: 7px;
    border-left: 1px solid #dadce0;
}

table tr {
    border-bottom: 1px solid #dadce0;
}